@tailwind preflight;

html { height: 100% !important; }

body { 
    height: 100% !important; 
    @apply .flex .flex-col;
}

main, section {
    @apply .flex-1
}

a { text-decoration: none; }

.jumbotron {
    min-height: 300px;
}

@tailwind utilities;