{{ if ne .Params.amp.enable false }}

<footer class="bg-blue-dark">
    <div class="container mx-auto text-blue-lightest py-6">
        <ul>
            <li>More Info</li>
            <li>Contact</li>
            <li>Press</li>
            <li>Social</li>
        </ul>
    </div>
    <p class="text-center bg-blue py-2 text-blue-lightest">&copy; {{ now.Format "2006" }} Measured Improvement</p>
</footer>

{{ partial "amp/google-analytics" . }}
</body>
</html>
{{ else }}
{{ partial "structure/foot.no-amp" . }}
{{ end }}