{{ partial "structure/head" . }}

{{ partial "structure/header" . }}

{{ partial "breadcrumb" . }}
<div class="container m-auto my-8">

    {{ .Content }}

    <div class="flex">

        <div class="w-1/6 mr-2">
            Navigation Content
        </div>

        <main class="mx-2">
            
            {{ range (.Paginator 3).Pages }}
            <div class="mb-4 rounded overflow-hidden shadow bg-white flex">
                {{ if .Params.feature_image }}
                <a href="{{.RelPermalink}}" class="w-full" style="background: url({{ .Params.feature_image }}) no-repeat center center;"></a>
                {{ end }}
                <div class="p-4">
                    <div class="text-sm text-grey-dark flex items-center justify-between mb-1">
                        <a class="font-bold text-black text-xl mb-2" href="{{.RelPermalink}}">{{ .Title }}</a>
                        <p>{{ .Date.Format "Jan 2, 2006" }}</p>
                    </div>
                    <a class="text-grey-darker text-base" href="{{.RelPermalink}}">
                        <p>
                            {{ .Summary }}
                        </p>
                    </a>
                    
                </div>
                <div>
                    {{ range .Params.categories }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
                
                
            </div>
            {{ end }}

            {{ template "partials/pagination.html" . }}

        </main>

        <div class="w-1/6 ml-2">
            <div class="mb-4 p-3 rounded overflow-hidden shadow bg-white">
                Sidebar Content
            </div>
        </div>

    </div>
</div>

{{ partial "structure/foot" . }}