@tailwind preflight;

@import "syntax";

html { height: 100% !important; }

body { 
    height: 100% !important; 
    @apply .flex .flex-col .bg-grey-lightest;
}

main, section {
    @apply .flex-1;
}

a { text-decoration: none; }

p { @apply .leading-normal; }

.jumbotron {
    min-height: 300px;
}

pre.chroma {
    @apply -mx-4 my-2 .p-4;
}

// Post Styles
.post--body {
    @apply pt-4 leading-normal text-lg;

    & p, li{
        @apply py-2 text-grey-darker;
    }

    & h1, h2, h3, h4, h5, h6 {
        @apply text-grey-darkest py-4;
    }

    & blockquote {
        @apply mx-8 my-2 p-4 border-yellow-dark border-l-4 font-semibold bg-grey-lighter rounded;
    }

    & img {
        @apply w-4/5 m-auto block shadow rounded;
    }

    & img + em {
        @apply pt-1 text-center block text-sm;
    }
}

// Skew Utilities
.skew-45 { transform: skewX(45deg); }
.skew-45 > * { transform: skewX(-45deg); }

.skew--45 { transform: skewX(-45deg); }
.skew--45 > * { transform: skewX(45deg); }

@mixin skew($side: right, $deg: -20deg, $right: -15px, $left: -15px, $width: 30px, $bg: #fff) {
    position: relative;

    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;

        @if $side == right {
            right: $right;
        }
        @else if $side == left {
            left: $left;
        }

        display: block;
        width: $width;
        background: $bg;
        -webkit-transform: skew($deg);
            -ms-transform: skew($deg);
                transform: skew($deg);
    }
}

.right-skew { @include skew($bg: red, $deg: -45deg, $right: -15px, $width: 35px); }
.left-skew { @include skew($side: left, $bg: red, $deg: 20deg, $left: -28px, $width: 55px); }

@tailwind utilities;