{{ $pag := .Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="center">
    <div class="pagination">
        <div class="row flex items-center justify-center">
            {{ if $pag.HasPrev }}
            <a class="bg-blue-lightest hover:bg-blue-lighter w-8 h-8 flex items-center justify-center text-grey-darker p-2 text-center m-1 rounded-full" href="{{ $pag.Prev.URL }}">
                <i class="fas fa-chevron-left"></i>
            </a>
            {{ else }}
            <p class="bg-blue-lightest w-8 h-8 flex items-center justify-center text-grey p-2 text-center m-1 rounded-full">
                <i class="fas fa-chevron-left"></i>
            </p>
            {{ end }}
            {{ range $pag.Pagers }} 
                {{ if eq . $pag }}
                    <span class='bg-blue w-12 h-12 flex items-center justify-center text-blue-lightest p-2 text-center m-1 rounded-full'>
                        {{ .PageNumber }}
                    </span>
                {{ else }}
                    <a class='border border-blue-light bg-blue-lightest hover:bg-blue-lighter w-10 h-10 flex items-center justify-center text-grey-darker p-2 text-center m-1 rounded-full' href='{{ .URL }}'>
                        {{ .PageNumber }}
                    </a>
                {{ end }}
            {{ end }}
            {{ if $pag.HasNext }}
            <a class="bg-blue-lightest hover:bg-blue-lighter w-8 h-8 flex items-center justify-center text-grey-darker p-2 text-center m-1 rounded-full" href="{{ $pag.Next.URL }}">
                <i class="fas fa-chevron-right"></i>
            </a>
            {{ else }}
            <p class="bg-blue-lightest w-8 h-8 flex items-center justify-center text-grey p-2 text-center m-1 rounded-full">
                <i class="fas fa-chevron-right"></i>
            </p>
            {{ end }}
        </div>
    </div>
</nav>
{{ end }}