{{ partial "structure/head" . }}

{{ partial "structure/header" . }}

<!-- Jumbotron -->
<div class="jumbotron bg-cover p-8" style="background: url(/images/data-hero.jpg) center center">
    <div class="container mx-auto text-blue-lightest flex flex-col align-center justify-center">
        <h1 class="p-3 font-hairline">Are your data projects being heard?</h1>
        <p class="text-blue-lighter">Applied Analytic projects that will</p>
    </div>
</div>

<section class="py-6 border-t border-b border-grey-lightest">

    <main id="app" class="container mx-auto my-8">

        <h2 class="uppercase text-center mb-4">M.I.'<small>s</small> Assignment</h2>

        <p class="text-center text-grey-darker mb-4">
            Enable data praticioners to make a larger impact in their organization.
        </p>

        <p class="text-center text-grey-darker mb-4">
            Whether you are the sole analytics member or on a team...
        </p>

        <p class="text-center text-grey-darker mb-4">
            To complete the assignment we will need:
        </p>

        <hr class="rounded-full border-2 border-yellow-dark w-2/5 mb-6">

        <!-- Features -->
        <div class="flex justify-center">
            <div class="flex items-start w-1/4 mx-4">
                <div class="rounded-full bg-blue flex items-center justify-center h-12 w-12 mr-4 ">
                    <i class="fas fa-warehouse-alt fa-inverse"></i>
                </div>
                <div class="w-3/4">
                    <h4 class="font-semibold text-black leading-tight mb-1 uppercase">A Knowledge Repo</h4>
                    <p class="text-grey-dark leading-normal text-sm">Our warehouse of domain expertise, data concepts, and coding practices needed to complete our job.</p>
                </div>
            </div>
    
            <div class="flex items-start w-1/4 mx-4">
                <div class="rounded-full bg-blue flex items-center justify-center h-12 w-12 mr-4 ">
                    <i class="fa fa-comments fa-inverse"></i>
                </div>
                <div class="w-3/4">
                    <h4 class="font-semibold text-black leading-tight mb-1 uppercase">Clear Communication</h4>
                    <p class="text-grey-dark leading-normal text-sm">Don't get lost in translation between your team and your audience.</p>
                </div>
            </div>
    
            <div class="flex items-start w-1/4 mx-4">
                <div class="rounded-full bg-blue flex items-center justify-center h-12 w-12 mr-4">
                    <i class="fa fa-trophy fa-inverse"></i>
                </div>
                <div class="w-3/4">
                    <h4 class="font-semibold text-black leading-tight mb-1 uppercase">Practical Application</h4>
                    <p class="text-grey-dark leading-normal text-sm">Tutorials with toy data is too simple. Textbooks with mathematical notation is too ambiguous. Our focus is real world results.</p>
                </div>
            </div>
        </div>
        
    </main>
    
</section>

<div class="bg-blue-darker text-center py-8 h-32 flex-1 flex flex-col justify-center items-center">
    <h3 class="text-blue-lightest">Become an M.I. Agent.</h3>
    <p class="text-blue-light">...</p>
</div>

{{ partial "structure/foot" . }}