{{ partial "structure/head" . }}

{{ partial "structure/header" . }}

<!-- Jumbotron -->
<div class="jumbotron bg-cover p-8" style="background: url(/images/data-hero.jpg) center center">
    <div class="container mx-auto text-blue-lightest">
        <h1>Are you getting the most out of your data?</h1>
    </div>
</div>

<section class="py-6 border-t border-b border-grey-lightest">
    <main id="app" class="container mx-auto flex items-start">
        <div class="rounded-full bg-blue flex p-2 mr-4">
            <i class="fa fa-camera-retro fa-inverse"></i>
        </div>
        <div>
            <h4 class="font-semibold text-black leading-tight mb-1">Broadcast Announcements</h4>
            <p class="text-grey-dark leading-normal text-sm">Send your subscribers one-off broadcasts when you have time-sensitive content.</p>
        </div>
        <div class="rounded-full bg-blue flex p-2 mr-4">
            <i class="fa fa-camera-retro fa-inverse"></i>
        </div>
        <div>
            <h4 class="font-semibold text-black leading-tight mb-1">Broadcast Announcements</h4>
            <p class="text-grey-dark leading-normal text-sm">Send your subscribers one-off broadcasts when you have time-sensitive content.</p>
        </div>
        <div class="rounded-full bg-blue flex p-2 mr-4">
            <i class="fa fa-camera-retro fa-inverse"></i>
        </div>
        <div>
            <h4 class="font-semibold text-black leading-tight mb-1">Broadcast Announcements</h4>
            <p class="text-grey-dark leading-normal text-sm">Send your subscribers one-off broadcasts when you have time-sensitive content.</p>
        </div>
    </main>
</section>

{{ partial "structure/foot" . }}