{{ partial "structure/head" . }}

{{ partial "structure/header" . }}

<!-- Jumbotron -->
<div class="jumbotron bg-cover p-8" style="background: url(/images/data-hero.jpg) center center">
    <div class="container mx-auto text-blue-lightest flex flex-col align-center justify-center">
        <h1 class="p-3 font-hairline">Are your data projects being heard?</h1>
        <p class="text-blue-lighter">Applied Analytic projects that will</p>
    </div>
</div>

<section class="py-6 border-t border-b border-grey-lightest">

    <main id="app" class="container mx-auto flex">
        
        <div class="flex items-start w-1/4 mr-4">
            <div class="rounded-full bg-blue flex p-2 mr-4">
                <i class="fal fa-book fa-inverse"></i>
            </div>
            <div>
                <h4 class="font-semibold text-black leading-tight mb-1">Knowledge Repo</h4>
                <p class="text-grey-dark leading-normal text-sm">A growing collection of domain terminonology, data concepts, and code.</p>
            </div>
        </div>

        <div class="flex items-start w-1/4 mr-4">
            <div class="rounded-full bg-blue flex p-2 mr-4">
                <i class="fa fa-camera-retro fa-inverse"></i>
            </div>
            <div>
                <h4 class="font-semibold text-black leading-tight mb-1">Analytic Repo</h4>
                <p class="text-grey-dark leading-normal text-sm">Code snippets to power you analaysis.</p>
            </div>
        </div>

        <div class="flex items-start w-1/4 mr-4">
            <div class="rounded-full bg-blue flex p-2 mr-4">
                <i class="fa fa-camera-retro fa-inverse"></i>
            </div>
            <div>
                <h4 class="font-semibold text-black leading-tight mb-1">Admin Templates</h4>
                <p class="text-grey-dark leading-normal text-sm">Paperwork is not what brings value, but is necessary. Our templates help ease the pain.</p>
            </div>
        </div>

        <div class="flex items-start w-1/4 mr-4">
            <div class="rounded-full bg-blue flex p-2 mr-4">
                <i class="fa fa-camera-retro fa-inverse"></i>
            </div>
            <div>
                <h4 class="font-semibold text-black leading-tight mb-1">Project Walkthroughs</h4>
                <p class="text-grey-dark leading-normal text-sm">Your analysis, your data, your glory.</p>
            </div>
        </div>
    </main>
</section>

{{ partial "structure/foot" . }}